body {
    font-size: 3em;
    background-image: url(../imagenes/fondo.jpg);
    background-size: calc;
    background-repeat: no-repeat;
    padding-top: 10%;
    text-align: center;
    height: 100%;
    position:relative;

    table{
       
        text-align: center;
    }
    size: 100%;
}
th{
    text-align: center;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-default    {
    background-color: #81C568;
}
.navbar-default .navbar-brand {
    color: blue;
}
.navbar-default .nav li a{
    color: black;
}
.navbar-default .nav li a:hover{
    color: black;
    font-size: 1.1em;

}
.nav li:hover{
    background-color: #38C106;
    color: black;

}
footer{
    text-align: center;
    
    color: black;
}
html{
    height: 100%;
    background-color: lightblue;

}  
a{
    color: blue;
}
a:hover{
    font-size: 1.2em;
    color: black;
}